@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-text: var(--font-montserrat);
  --font-title: var(--font-sprintura);
}
